
          <div class="footer">
            <div class="contact">
              <p>
                Ernesto Carrella<br />
                PhD Student<br />
                carrknight@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/carrknight">github home</a><br />
                <a href="https://www.linkedin.com/pub/ernesto-carrella/48/879/117/">linkedin home</a><br />
              </p>
            </div>
          </div>
        </div>

</body>
</html>
