<nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-blackbg">
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">Bio</a></li>
        <li><a href="{{ site.baseurl }}/assets/cv.pdf">CV</a></li>
        <li><a href="{{ site.baseurl }}/papers.html">Papers</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        <!-- other items ... -->
    </ul>
</nav>        




