<html>
  <SCRIPT src="http://java.com/js/dtjava.js"></SCRIPT>
<script>
    function launchApplication(jnlpfile) {
        dtjava.launch(            {
                url : 'MacroIIDiscrete.jnlp'
            },
            {
                javafx : '2.2+'
            },
            {}
        );
        return false;
    }
</script>

<script>
    function javafxEmbed_MacroIIDiscrete_id() {
        dtjava.embed(
            {
                id : 'MacroIIDiscrete_id',
                url : '{{ site.baseurl }}/assets/oil/MacroIIDiscrete.jnlp',
                placeholder : 'javafx-app-placeholder',
                width : '60%',
                height : '80%'
            },
            {
                javafx : '2.2+'
            },
            {}
        );
    }
    <!-- Embed FX application into web page once page is loaded -->
    dtjava.addOnloadCallback(javafxEmbed_MacroIIDiscrete_id);
</script>

<a href="{{ site.baseurl }}/assets/oil/MacroIIDiscrete.jnlp" 
   onclick="dtjava.launch({url: 'http://{{ site.baseurl }}/assets/oil/MacroIIDiscrete.jnlp'}); 
   return false;">Launch the model! </a> (but you need to <a href="http://www.java.com/en/download/help/jcp_security.xml"> set your java-security to medium </a> first). <br>
Otherwise you can just <a href="{{ site.baseurl }}/assets/oilDistributionBeta.zip">download this zip</a>, extract it and double click MacroIIDiscrete.jar.
  <!-- Applet will be inserted here  <div id='javafx-app-placeholder'></div> -->
  
</html>

