<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pure.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

</head>

<body class ="pure-skin-carrknight">

<header>
		{% include nav.html %}
</header>

<div class="pure-g-r" id="layout">

    <div class="sidebar pure-u">
        <header class="header">
            <hgroup>
                <h1 class="brand-title">{{ site.name }}</h1>
                <h2 class="brand-tagline">{{ page.title }}</h2>

            </hgroup>
        </header>
    </div>

<article>
    <div class="pure-u-1">
        <section class="content">
            <section class="post">
                <header>
                    <h2 >{{ page.title }}</h2>
                    </p>
                </header>
                <div class = "post-description">
                {{ page.date | date: "%-d %B %Y" }}
                {{ content }}	
                </div>
            </section>
        </section>
    </div>
</article>

</div>
</body>
</html>

